<!DOCTYPE html>
<HTML>
<head>
	<title> Curriculum</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
	<style>
      .row> div {
          padding: 20px;
          background-color: white;
          border: 2px solid rgb(0, 0, 0);
      }
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-4" align="left">
				<style>
					body {
        				background-color: #000000;
    				}
    				div {
        				
        				background-color: #0a0000;
    				}
    			</style>
				<center><img src="../static/static/imgs/foto.jpg" alt="Foto" style="width:250px"></<center>
				<hr/>
				<p>
					<h4> SOBRE MI </h4>
					<fieldset align="left">
						<p>
							{{data.presentacion}}
							<br>
						</p>
					</fieldset>
				</p>
				<p>
				<hr>
					<h4>CONTACTO</h4>
					<fieldset align="left">					
						<img src="../static/static/imgs/wpp.png" alt="logo whatsapp" style="width:25px"> {{data.nmr}}
						<br>
						<br>
						<img src="../static/static/imgs/mail.png" alt="logo mail" style="width:20px"> {{ data.email }}
						<br>
						<br>
						<img src="../static/static/imgs/ig.png" alt="logo instagram" style="width:35px"> {{data.ig}}
						<br>
						<br>
						<img src="../static/static/imgs/Ub.png" alt="logo ubicacion" style="width:25px"> {{data.cod_pos}} 
						<br>
						<br>
						<img src="../static/static/imgs/fb.png" alt="logo facebook" style="width:25px" > {{data.fb}} 
						<br>
						<br>						
						<img src="../static/static/imgs/curriculum.ico" alt="logo linkedin" style="width:25px"> {{data.lkdn}} 
						<br>						
						
					</fieldset>
					<br>				
				</p>				
				<hr/>
				<p>				
					<h4>IDIOMAS</h4>
					<fieldset align="left">						
						        Español      <input type="checkbox" id="a" name="aa" value="a">
									<input type="checkbox" id="b" name="aa" value="b"> 
									<input type="checkbox" id="c" name="aa" value="c" checked >
									<input type="checkbox" id="d" name="aa" value="d" checked>
									<input type="checkbox" id="e" name="aa" value="e" checked>
									<input type="checkbox" id="f" name="aa" value="f" checked> 																		    
						<br>						
						        Inglés         <input type="checkbox" id="g" name="gg" value="g">
									<input type="checkbox" id="h" name="gg" value="h"> 
									<input type="checkbox" id="i" name="gg" value="i" >
									<input type="checkbox" id="j" name="gg" value="j">
									<input type="checkbox" id="k" name="gg" value="k">
									<input type="checkbox" id="l" name="gg" value="l" checked>
						<br>
						        Portugués  <input type="checkbox" id="m" name="mm" value="m">
								<input type="checkbox" id="n" name="mm" value="n"> 
								<input type="checkbox" id="o" name="mm" value="o" >
								<input type="checkbox" id="p" name="mm" value="p">
								<input type="checkbox" id="q" name="mm" value="q">
								<input type="checkbox" id="r" name="mm" value="r" checked>
					</fieldset>
					<br>
					<br><br>
					<h3>HOBBIES </h3>
					<br>
					<fieldset>
						<li>{{data.hobbie1}}</li>
						<li>{{data.hobbie2}}</li>
						<li>{{data.hobbie3}}</li>
						<li>{{data.hobbie4}}</li>
					</fieldset>			
				</p>		
			</div>
			<div class="col-8">
<br><br>
				<div class="col-12">					
					<h3><center><p style="color:white";>{{data.name}} {{data.apellidos}} </p></center></h3>
					<h4><center><p style="color:white";>Licenciado en Ciencia de la Computación</p></center></h4>
				</div>	
				<hr/>
				<h3><i>EXPERIENCIA LABORAL</i> </h3>
				<br>
				<b>{{work1}} </b>
				<fieldset>
					<li>{{data.workexp1_1}}</li>
					<li>{{data.workexp1_2}}</li>
					<li>{{data.workexp1_3}}</li>
					
				</fieldset>
				<br><br>
				<b>{{data.work2}} </b>
				<fieldset>
					<li>{{data.workexp2_1}}</li>
					<li>{{data.workexp2_2}}</li>
					<li>{{data.workexp2_3}}</li>
				</fieldset>
				<br><br>
				<b>{{data.work3}} </b>
				<fieldset>
					<li>{{data.workexp3_1}}</li>
					<li>{{data.workexp3_2}}</li>
					<li>{{data.workexp3_3}}</li>
				</fieldset>
				<br><br>
				<h3><i>FORMACIÓN</i> </h3>
				<br>
				<p>
					<fieldset>
						-->{{data.sec}} 
						<br><br>
						-->{{data.sup}} 
						<br><br>
						-->{{data.mstr}} 
						<br><br>
						-->{{data.doc}} 
					</fieldset>
				</p>
				
				<hr/>
				<h3><i>COMPETENCIAS </i> </h3>
				<br>
				<fieldset>
					<li>{{data.skill1}}</li>
					<li>{{data.skill2}}</li>
					<li>{{data.skill3}}</li>
					<li>{{data.skill4}}</li>
					<li>{{data.skill5}}</li>
				</fieldset>
				</div>	
		</div>
	</div>
</HTML>	
						
