<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/static/css/estilos.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/static/js/main.js"></script>
    
</head>

<body>
    <main>
        <div class="contenedor__todo">
            <div class="contenedor__login-register">
                <form action="{{ url_for('login.usuario') }}" method="post">
                    <div class="wrap">
                        <ul class="tabs">
                            <li><a href="#tab1"><span class="tab-text">Usuario</span></a></li>
                            <li><a href="#tab2"><span class="tab-text">Datos personales</span></a></li>
                            <li><a href="#tab3"><span class="tab-text">Habilidades</span></a></li>
                            <li><a href="#tab4"><span class="tab-text">Experiencia laboral</span></a></li>
                            <li><a href="#tab5"><span class="tab-text">Estudios</span></a></li>
                            <li><a href="#tab6"><span class="tab-text">Hobbies</span></a></li>
                            <li><a href="#tab7"><span class="tab-text">Contacto</span></a></li>
        
                        </ul>
        
                        <div class="secciones">
                            <article id="tab1">
                                <h1>Usuario:</h1>
                                <br>
                                <input type="text" id="email" name="email" placeholder="E-mail" required class="validate">
                                <br>
                                <input type="password" id="pswr" name="pswr" placeholder="Contraseña" required class="validate">
                                <br>
                            </article>
                            <article id="tab2">
                                <h1>Datos personales</h1>
                                <br>
                                <input type="text" id="name" name="name" placeholder="Nombre" required class="validate">
                                <br>
                                <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" required
                                    class="validate">
                                <br>
                                <input type="text" id="dni" name="dni" placeholder="Dni" required class="validate">
                                <br>
                                <input type="text" id="presentacion" name="presentacion" placeholder="Presentate" required
                                    class="validate">
                                <br>
                            </article>
                            <article id="tab3">
                                <h1>Habilidades:</h1>
                                <input type="text" id="skill1" name="skill1" placeholder="Ingresa tu habiilidad 1" required
                                    class="validate">
                                <br>
                                <input type="text" id="skill2" name="skill2" placeholder="Ingresa tu habiilidad 2" required
                                    class="validate">
                                <br>
                                <input type="text" id="skill3" name="skill3" placeholder="Ingresa tu habiilidad 3" required
                                    class="validate">
                                <br>
                                <input type="text" id="skill4" name="skill4" placeholder="Ingresa tu habiilidad 4" required
                                    class="validate">
                                <br>
                                <input type="text" id="skill5" name="skill5" placeholder="Ingresa tu habiilidad 5" required
                                    class="validate">
                                <br>
        
                            </article>
                            <article id="tab4">
                                <h3>Experiencia laboral 1:</h3>
                                <input type="text" id="work1" name="work1" placeholder="Puesto de trabajo" required
                                    class="validate">
                                <br>
                                <h4>Tres labores que cumplia en ese puesto:</h4>
                                <input type="text" id="workexp1_1" name="workexp1_1" placeholder="Labor 1" required
                                    class="validate">
                                <br>
                                <input type="text" id="workexp1_2" name="workexp1_2" placeholder="Labor 2" required
                                    class="validate">
                                <br>
                                <input type="text" id="workexp1_3" name="workexp1_3" placeholder="Labor 3" required
                                    class="validate">
                                <br>
                                <br>
                                <h3>Experiencia laboral 2:</h3>
                                <input type="text" id="work2" name="work2" placeholder="Puesto de trabajo" required
                                    class="validate">
                                <br>
                                <h4>Tres labores que cumplia en ese puesto:</h4>
                                <input type="text" id="workexp2_1" name="workexp2_1" placeholder="Labor 1" required
                                    class="validate">
                                <br>
                                <input type="text" id="workexp2_2" name="workexp2_2" placeholder="Labor 2" required
                                    class="validate">
                                <br>
                                <input type="text" id="workexp2_3" name="workexp2_3" placeholder="Labor 3" required
                                    class="validate">
                                <br>
                                <br>
                                <h3>Experiencia laboral 3:</h3>
                                <input type="text" id="work3" name="work3" placeholder="Puesto de trabajo" required
                                    class="validate">
                                <br>
                                <h4>Tres labores que cumplia en ese puesto:</h4>
                                <input type="text" id="workexp3_1" name="workexp3_1" placeholder="Labor 1" required
                                    class="validate">
                                <br>
                                <input type="text" id="workexp3_2" name="workexp3_2" placeholder="Labor 2" required
                                    class="validate">
                                <br>
                                <input type="text" id="workexp3_3" name="workexp3_3" placeholder="Labor 3" required
                                    class="validate">
                                <br>
        
        
                            </article>
                            <article id="tab5">
                                <h1>Estudios:</h1>
                                <br>
                                <input type="text" id="sec" name="sec" placeholder="Donde hizo su Educacion secundaria" required
                                    class="validate">
                                <br>
                                <input type="text" id="sup" name="sup" placeholder="Donde hizo su Educacion superior" required
                                    class="validate">
                                <br>
                                <input type="text" id="mstr" name="mstr" placeholder="Donde hizo su Maetria" required
                                    class="validate">
                                <br>
                                <input type="text" id="doc" name="doc" placeholder="Donde hizo su Doctorado" required
                                    class="validate">
                                <br>
                            </article>
                            <article id="tab6">
                                <h1>Hobbies:</h1>
                                <br>
                                <input type="text" id="hobbie1" name="hobbie1" placeholder="Hobbie" required class="validate">
                                <br>
                                <input type="text" id="hobbie2" name="hobbie2" placeholder="Hobbie" required class="validate">
                                <br>
                                <input type="text" id="hobbie3" name="hobbie3" placeholder="Hobbie" required class="validate">
                                <br>
                                <input type="text" id="hobbie4" name="hobbie4" placeholder="Hobbie" required class="validate">
                                <br>
                            </article>
                            <article id="tab7">
                                <h1>Contacto</h1>
                                <p>En caso no tengas alguna coloca "-"</p>
                                <br>
                                <input type="text" id="nmr" name="nmr" placeholder="Numero de telefono" required
                                    class="validate">
                                <br>
                                <input type="text" id="cod_pos" name="cod_pos" placeholder="Codigo postal" required
                                    class="validate">
                                <br>
                                <input type="text" id="fb" name="fb" placeholder="Facebook" required class="validate">
                                <br>
                                <input type="text" id="ig" name="ig" placeholder="Instagram" required class="validate">
                                <br>
                                <input type="text" id="lkdn" name="lkdn" placeholder="Linkedin" required class="validate">
                                <br>
                            </article>
                            <br>
                            <input type="submit" id="send-register" name="signup" value="Registrar" />
        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <script type="text/javascript" src="../static/static/js/localstorage.js"></script>
    <script type="text/javascript" src="../static/static/js/script.js"></script>

</body>

</html>
